.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tooltip {
  position: absolute;
  background-color: rgba(245 245 245);
  z-index: 99;
}

.tooltip.top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip.bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip.left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}
.tooltip.right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.tooltip-pointer {
  background-color: inherit;
  transform: translate(-50%, -50%) rotate(45deg);
}

.tooltip-pointer.bottom {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.tooltip-pointer.top {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.tooltip-pointer.right {
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.tooltip-pointer.left {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.tooltip-content {
  position: absolute;
  display: flex;
  gap: 5px;
  padding: 5px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tooltip.vertical .tooltip-content {
  flex-direction: column;
  align-items: center;
}
.tooltip.horizontal .tooltip-content {
  flex-direction: row;
  align-items: center;
}

.nav {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--green);
  box-shadow: -1px -5px 10px 2px;
  z-index: 2;
}

.nav_icon {
  width: 40px;
  height: 40px;
}

.nav_icon img {
  width: 100%;
}

.nav .nav_button {
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #d3f7cb;
}

.nav .nav_button:hover {
  background-color: #a5c59d;
}

.timedate {
  display: flex;
  gap: 12px;
}

.timedate .date span {
  color: red;
  margin: 0px 6px;
}

.timedate .time span {
  color: black;
  margin: 0px 4px;
}

.user_actions {
  display: flex;
  gap: 12px;
  flex-grow: 1;
  justify-content: flex-end;
}

/* Content CSS */
.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.scrollable-wrapper {
  flex-grow: 1;
  height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

#main-content {
  display: flex;
  flex-direction: row;
  width: 200%;
}

#main-content .view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  width: 50%;
}

#main-content .form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-height: 100vh;
  position: relative;
}

#main-content .form > .return {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  padding: 8px 12px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 60px;
  transition-duration: 150ms;
}

#main-content .form > .return:hover {
  background-color: #b7b7b7a8;
  border: 1px solid black;
}

.return > #return-arrow {
  font-size: 40px;
  font-weight: 600;
  line-height: 0px;
}

.return > #return-text {
  font-size: 20px;
  font-weight: 600;
  margin-left: 12px;
}

.note {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 400px;
  height: 500px;
  border: 1px solid black;
  background-color: #fefefe;
}

.note > #note-header {
  height: 40px;
  background-color: var(--dark-gray);
}

.note > #note-body {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  gap: 8px;
  flex-grow: 1;
}

.note > #note-body > #datetime {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  gap: 6px;
}

#datetime > .label {
  font-size: 18px;
}

#note-body select {
  width: 90px;
  height: 100%;
  font-size: inherit;
  letter-spacing: 1px;
  text-indent: 5px;
}

#note-body select#day {
  width: 60px;
}

#submit-note {
  height: 30px;
  background-color: #e9e7e7;
  border-top: 1px solid;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  transition: background-color 150ms ease-in;
  cursor: pointer;
}

.color-picker, .color-option {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  background-color: var(--dark-gray);
  border-radius: 50%;
}

.color-picker > .mask, .color-option > .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
}

.color-picker > .mask:hover, .color-option > .mask:hover {
  transition: all 200ms ease-in;
  background-color: #b7b7b7a8;
}

.color-picker > #color-options {
  position: absolute;
  width: 40px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  height: fit-content;
  min-height: 40px;
  border: 1px solid black;
  z-index: 1;
}

.note #content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
  flex-grow: 1;
}

#content .section {
  height: 25px;
  width: 30px;
  text-align: center;
  font-weight: 600;
  font-size: inherit;
}

.cw.text-input {
  position: relative;
}

.cw.text-input > .character-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  font-size: 12px;
  top: 0;
  right: 5px;
}

.select-input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 30px;
}

.select-input label, .select-input .label {
  font-size: 18px;
}

.select-input select {
  flex-grow: 1;
}

.character-counter > .counter-current {
  transform: translate(-10%, -30%);
}

.character-counter > .divider {
  position: absolute;
  left: 48%;
  top: 50%;
  width: 80%;
  transform: translate(-50%, 0) rotate(300deg);
  border-top: 1px solid black;
}

.character-counter > .counter-limit {
  transform: translate(10%, 30%);
}

.create-group {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -120%);
  width: 250px;
  height: 35px;
  padding: 5px;
  background-color: rgba(245 245 245);
  box-shadow: 0px 3px 6px -5px;
  display: flex;
}

.create-group input[type="text"] {
  flex-grow: 1;
}

.create-group input:focus-visible {
  outline: none;
  background-color: rgb(250 250 250);
  border: 2px solid black;
}

.create-group input[type="button"] {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px 4px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21em;
  height: 100%;
  background-color: var(--gray);
  transition: width 300ms ease-in;
  z-index: 1;
}

.sidebar .nav_button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  padding: 5px 4px;
  height: 35px;
  cursor: default;
  background-color: var(--gray);
  border: 1px solid var(--gray);
}

.sidebar .nav_button:hover {
  transition: border 200ms ease-in,
              border-radius 200ms ease-in,
              background-color 200ms ease-in;
  border: 1px solid black;
  border-radius: 2px;
  background-color: var(--dark-gray);

}

.sidebar .nav_button span {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 8px;
  font-size: 18px;
  white-space: nowrap;
}

.sidebar .user_actions {
  flex-direction: column;
  flex-grow: 0;
  width: inherit;
  padding: 25px 8px;
  box-shadow: -8px -6px 9px 0px;
  gap: 4px;
}

.sidebar .grouped_notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 100%;
  flex-grow: 1;
  padding: 25px 8px;
}

.sidebar .no_notes {
  font-size: 20px;
}

/* Shrinked Sidebar Style */
.sidebar.shrink {
  width: 56px;
}


/* Todo Styles */
.todo {
  display: flex;
  gap: 16px;
}

.todo-time {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 3px;
  align-self: flex-start;
}
.todo-time .flow {
  width: 16px;
  grid-row: 1 / span 2;
}
.todo-time .flow svg {
  width: 100%;
  height: 100%;
}
.todo-time .time-from, .todo-time .time-to {
  grid-column: 2;
  display: flex;
  align-items: center;
  gap: 3px;
}
#note-body .time-cycle {
  width: 44px;
  height: 20px;
  font-size: 15px;
  font-weight: 600;
  text-indent: 0px;
  letter-spacing: unset;
} 

.todo-time .time-input {
  width: 30px;
  height: 20px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.todo-description {
  flex-grow: 1;
}
.todo-description textarea {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  font-weight: 600;
}

/* Calendar */
.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 35px 60px repeat(5, 1fr);
  gap: 1px;
  width: 90%;
  height: 800px;
  border: 1px solid black;
  background-color: black;
}

.month-label {
  grid-row: 1/2;
  grid-column: 1/8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95 187 97);
  font-size: 24px;
  font-weight: bolder;
}

.weekday-label {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(161, 214, 161);
  font-size: 18px;
  font-weight: 600;
}

.date-box {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  padding: 4px;
  transition-duration: 250ms;
}

.date-box:hover,
.date-box.curr-day:hover,
.date-box.selected-day:hover {
  background-color: rgb(222 255 226 / 65%);
}

.date-box.outside-month {
  background-color: #cdcdcd;
}

.date-box.selected-day {
  background-color: #dee9ba;
}

.date-box.curr-day {
  background-color: rgb(162 214 163);
}

.date-box > span.date {
  font-size: 16px;
}

.date-box span.front-task {
  margin: 2px 0px;
  background-color: #c3c1c1;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px;
  width: 180px;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.date-box span.front-task.extra {
  background-color: transparent;
}

.tml-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

#timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid black;
  border-radius: 2px;
  width: 80%;
  gap: 24px;
  padding: 24px 0px;
  min-height: 100vh;
  margin-top: 40px;
}

#timeline .header {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

#t-hr {
  position: relative;
  align-self: center;
  width: 90%;
  border: 2px solid rgb(40, 145, 92);
  border-radius: 50%;
}

#t-hr-current {
  position: absolute;
  top: -20px;
  transform: translate(-50%, 0px);
  transition-duration: 200ms;
  transition-delay: 100ms;
  font-weight: bold;
}

#t-hr .t-hr-point {
  position: absolute;
  border: 1px solid rgb(40, 145, 92);
  background-color: rgb(40, 145, 92);
  width: 4px;
  height: 14px;
  /* transition-duration: 250ms; */
}

#t-hr .t-hr-point > span {
  position: absolute;
  text-indent: -50%;
  top: 24px;
  font-size: 14px;
  font-weight: bold;
}

#t-hr .t-hr-point.current {
  background-color: rgb(32, 66, 31);
  border: 1px solid rgb(32, 66, 31);
}

#t-hr .t-hr-point.hour-hand {
  height: 18px;
}

#t-hr .t-hr-point:hover {
  width: 6px;
  height: 24px;
  background-color: rgb(37, 92, 41);
  border: 1px solid rgb(37, 92, 41);
  transform: translate(-1px, 0px);
}
#t-hr .t-hr-point:hover > span {
  transform: translate(1px, 0px);
}

#todays-tasks {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 42px;
  width: 90%;
  flex-grow: 1;
  padding: 16px;
  flex-wrap: wrap;
  align-content: flex-start;
}

#todays-tasks span.no-tasks {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 60px);
  text-decoration: underline;
}

#todays-tasks .task {
  width: 240px;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  border: 1px solid black;
}

#todays-tasks .task > .header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 28px;
  border-bottom: 1px solid  #4e4e4e;
  padding: 0px 8px;
}

#todays-tasks .task > .header > .delete {
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 150ms;
}

#todays-tasks .task > .header > .delete:hover {
  background-color: rgb(240, 130, 130);
}

#todays-tasks .task > .header > .delete > span {
  font-size: 22px;
  font-weight: 600;
  user-select: none;
}

#todays-tasks .task > .body {
  padding: 8px;
  flex-grow: 1;
}
#todays-tasks .task > .body > div {
  margin: 6px 0px;
}
#todays-tasks .task > .body > .title > span {
  font-size: 18px;
  font-weight: 600;
  word-wrap: break-word;
}

#todays-tasks .task > .body > .subinfo {
  font-size: 15px;
  display: flex;
  gap: 2px;
}

#todays-tasks .task > .body > .subinfo > .sched-date {
  display: flex;
  flex-direction: column;
}

#todays-tasks .task > .body > .content {
  width: 100%;
  height: 70px;
  padding: 2px;
  border: 1px solid gray; 
  overflow: auto;
}
#todays-tasks .task > .body > .content > span {
  font-size: 18px;
  width: 100%;
  display: inline-block;
  word-wrap: break-word;
}

#todays-tasks .task > .status {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 28px;
}

#todays-tasks .task > .status .toggle {
  width: 18px;
  height: 18px;
  background-color: #fefefe;
  border: 1px solid black;
  border-radius: 50%;
  transition-duration: 250ms;
}

#todays-tasks .task > .status .toggle.toggled {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: black;
  border: 1px solid black;
  color: white;
  pointer-events: none;
}

#todays-tasks .task > .status .toggle:hover {
  background-color: #e7e7e7;
}

#todays-tasks .task > .status > .done,
#todays-tasks .task > .status > .unfinished {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* #todays-tasks .task > .status,
#todays-tasks .task > .delete {
  width: 18px;
  height: 18px;
  margin: 0px 4px;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
  transition-duration: 200ms;
}

#todays-tasks .task > .delete {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#todays-tasks .task > .status > span,
#todays-tasks .task > .delete > span {
  user-select: none;
}

#todays-tasks .task > .status.done {
  background-color: rgb(45 45 45);
  color: white;
  border: 2px solid rgb(45,45,45);
}

#todays-tasks .task > .status.unfinished:hover {
  background-color: #c1c0c096;
}

#todays-tasks .task > .delete:hover {
  background-color: rgb(240, 130, 130);
}

#todays-tasks .task > .delete > span {
  font-size: 16px;
  font-weight: 600;
} */

/* Warning Styles */
.warning {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  padding: 12px;
  font-size: 16px;
  background-color: rgb(240 240 180 / 50%);
  border: 1px solid rgb(180 180 130);
  border-radius: 2px;
}
.warning button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: rgb(150 150 130);
  cursor: pointer;
}